    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

    * {
        box-sizing: border-box;
        outline: none;
        margin: 0; 
        padding: 0;
    }

    body {
        font-family: 'Open sans', sans-serif;
    }

    .main {
        display: flex;
        margin-top: 2.5rem;
        flex-direction: row;
        justify-content: center;
    }

    .container {
        padding: 0 1rem;
        background: #fdfdfd;    
    }
    .container > h1 {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    input.display {                                                                                                                                                                                                                                 
        width: 100%;
        font-size: 2.5rem;
        text-align: right;
        grid-column: 1 / span 4;    
        margin-top: .8rem;
    }

    .calculadora {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .btn {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .8rem;
        font-size: 1.5rem;
        font-weight: bold;
        border: none;
        background: #d9d9d9;
    }

    @media(min-width: 700px) {

        
        body {
            background: #456d92;
        }

        .container {
            border-radius: 1rem;
            padding: 3rem;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            /* padding: 2.5rem 3rem; */
        }
    }