* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 2rem;
    padding: 2rem;
    background-color: #fff;
    width: 30%;
    height: 80vh;
    border-radius: 1rem;
}

table {
    margin-top: 1.5rem;
    text-align: left;
    width: 80%;
    text-transform: capitalize;
}

.box {
 margin: 2rem 0;
}

input {
    width: 100%;
    padding: 1rem;
    margin-top: .8rem;
    border: 1px solid #c9c7c7;
}

button {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background: rgb(0, 143, 156);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: background .5s;
}

button:hover {
    background: rgb(1, 86, 94);
}

form > h1 {
    margin-top: 2rem;
}
 
.resultado {
    margin-top: 1rem;
    text-align: center;
}

p.result {
    padding: 1rem;
}

.resultado .success {
    background: greenyellow;
}

.resultado .bad {
    background: rgb(236, 86, 86);
}